body{
    background: brown;
    color: white;
}
#principal{
    color: goldenrod;
    text-align: center;
    font-size: 50px;
    border: 10px solid;
    padding: 10 px;
    margin: 0px;
    margin-left: 120px;
    margin-right: 60px;
    background: red;
}
img{
    max-width: 100px;
    max-height: 100px;  
    width: auto;
    height: auto;
    position: absolute;
    top: 22px;
    left: 25px;
    bottom: 90%;
    border:10 px goldenrod;
    border-style: solid;
    padding: 4px;

}
.lateral{
    position: absolute;
    top: 98px;
    bottom: 0%;
    border: 10px solid goldenrod;
    padding-top: 95px;
    padding-right: 10px;
    margin: 10px;
    background: red;

}
footer{
    position: absolute;
    text-align: center;
    bottom: 10pt;
    left: 40%;
    right: 40%;
}
.Apresentation{
    position: absolute;
    top: 12%;
    left: 8%;

}
p{
    margin: 30px;
    margin-right: 100px;
}