body{
    background-color: gray;
}
#title{
    color: rgb(32, 32, 32);
    text-align: center;
}
img{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    position: absolute;
    top: 2%;
    left: 1%;
    bottom: 90%;
    border-style: solid;

}
.lateral{
    position: absolute;
    top: 12%;

}
footer{
    position: absolute;
    text-align: center;
    bottom: 10pt;
    left: 40%;
    right: 40%;
}
.Apresentation{
    position: absolute;
    top: 12%;
    left: 8%;

}